/* helpers */
/* color palette */
/* color variables */
/* not used yet */
/* not used yet */
/* color maps */
/* background */
/* text */
/* fonts */
/* font family variables */
/* montserrat */
/* lato */
/* font family map */
/* font size map */
/* breaking points */
/* style */
/* links */
/* lists */
/* font family and size */
/* background and text colors */
/* container size */
/* layout */
/* base */
/* general display */
* {
  /* reset margin and padding */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* define minimum/maximum width */
  min-width: 375px;
  max-width: 1920px;
  margin: auto;
}

i {
  display: inline-block;
}

/* dark grey background */
#bg {
  /* ex: @include color-bg-txt (header) */
  background-color: #43444b;
  color: #43444b;
}

/* margin on content div so we see background on the sides */
#content {
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  margin: auto;
}
@media all and (min-width: 768px) {
  #content {
    width: 80%;
  }
}

/* define fonts */
/* Montserrat */
@font-face {
  font-family: "montserratregular";
  src: url("../../fonts/montserrat/montserrat-regular-webfont.eot");
  src: url("../../fonts/montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../../fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../../fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype"), url("../../fonts/montserrat/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratbold";
  src: url("../../fonts/montserrat/montserrat-bold-webfont.eot");
  src: url("../../fonts/montserrat/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../../fonts/montserrat/montserrat-bold-webfont.woff") format("woff"), url("../../fonts/montserrat/montserrat-bold-webfont.ttf") format("truetype"), url("../../fonts/montserrat/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratlight";
  src: url("../../fonts/montserrat/montserrat-light-webfont.eot");
  src: url("../../fonts/montserrat/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("../../fonts/montserrat/montserrat-light-webfont.woff") format("woff"), url("../../fonts/montserrat/montserrat-light-webfont.ttf") format("truetype"), url("../../fonts/montserrat/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Lato */
@font-face {
  font-family: "latoregular";
  src: url("../../fonts/lato/lato-regular-webfont.eot");
  src: url("../../fonts/lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-regular-webfont.woff") format("woff"), url("../../fonts/lato/lato-regular-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latobold";
  src: url("../../fonts/lato/lato-bold-webfont.eot");
  src: url("../../fonts/lato/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-bold-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-bold-webfont.woff") format("woff"), url("../../fonts/lato/lato-bold-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latolight";
  src: url("../../fonts/lato/lato-light-webfont.eot");
  src: url("../../fonts/lato/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-light-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-light-webfont.woff") format("woff"), url("../../fonts/lato/lato-light-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoitalic";
  src: url("../../fonts/lato/lato-italic-webfont.eot");
  src: url("../../fonts/lato/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-italic-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-italic-webfont.woff") format("woff"), url("../../fonts/lato/lato-italic-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latobold_italic";
  src: url("../../fonts/lato/lato-bolditalic-webfont.eot");
  src: url("../../fonts/lato/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-bolditalic-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-bolditalic-webfont.woff") format("woff"), url("../../fonts/lato/lato-bolditalic-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latolight_italic";
  src: url("../../fonts/lato/lato-lightitalic-webfont.eot");
  src: url("../../fonts/lato/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-lightitalic-webfont.woff") format("woff"), url("../../fonts/lato/lato-lightitalic-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-lightitalic-webfont.svg#latolight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*  typography */
/* h1, h2, h3 */
h1 {
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 2.5rem;
}

h2 {
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 20px 30px 20px;
}

.divider {
  /* default is square */
  width: 120px;
  height: 60px;
  margin: -25px 0;
  text-align: center;
}
.divider path {
  fill: #a26b00;
}

h3 {
  /* ex: @include font-family-size (h1) */
  font-family: "latoitalic", "arial", "sans-serif";
  font-size: 1.2rem;
  padding: 30px 20px 40px 20px;
  text-align: center;
}

h4 {
  /* ex: @include font-family-size (h1) */
  font-family: "latobold", "arial", "sans-serif";
  font-size: 1.2rem;
}

/* components */
/* layouts */
header {
  /* ex: @include color-bg-txt (header) */
  background-color: #43444b;
  color: #ffffff;
  /* links take color from map $color-txt, 
  default is main but can be changed */
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 40px 0 0 0;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
header a:visited, header a[href^=mailto] {
  color: #ffffff;
}

#header-nav {
  /* ex: @include color-bg-txt (header) */
  background-color: #c8fff3;
  color: #43444b;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 1rem;
  /* links take color from map $color-txt, 
  default is main but can be changed */
  /* default is square */
  width: 100%;
  height: auto;
}
#header-nav a {
  text-decoration: none;
  color: #43444b;
}
#header-nav a:visited, #header-nav a[href^=mailto] {
  color: #43444b;
}
#header-nav ul {
  /* remove list markers and indentation */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
}
@media all and (min-width: 768px) {
  #header-nav ul {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: nowrap;
    /* default is 'nowrap' */
    justify-content: flex-start;
    /* default is 'flex-start' */
    align-items: center;
  }
}
#header-nav li {
  /* default is square */
  width: 100%;
  height: auto;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
  text-align: center;
}
@media all and (min-width: 768px) {
  #header-nav li {
    /* default is square */
    width: 150px;
    height: auto;
  }
}
#header-nav li:hover {
  background-color: #ffffff;
  color: #2c9c97;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
#header-nav li:hover a {
  color: #2c9c97;
}
#header-nav .active {
  background-color: #ffffff;
}

#header-title {
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
}
#header-title h1 {
  /* default is square */
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px 15px 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 3px #ffffff;
}
#header-title h1:hover {
  border: solid 5px #ffffff;
  padding: 18px 18px 13px 18px;
}
#header-title p {
  /* default is square */
  width: 100%;
  height: auto;
  /* ex: @include font-family-size (h1) */
  font-family: "latolight", "arial", "sans-serif";
  font-size: 1rem;
  margin: auto;
  padding: 25px 0 40px 0;
}

footer {
  /* links take color from map $color-txt, 
  default is main but can be changed */
  /* ex: @include color-bg-txt (header) */
  background-color: #c8fff3;
  color: #43444b;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 20px 20px 20px 20px;
}
footer a {
  text-decoration: none;
  color: #43444b;
}
footer a:visited, footer a[href^=mailto] {
  color: #43444b;
}
footer p:first-child {
  /* ex: @include font-family-size (h1) */
  font-family: "latobold", "arial", "sans-serif";
  font-size: 1.1rem;
  padding: 10px 0 5px 0;
  text-align: center;
}
footer p:nth-child(2) {
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 0.95rem;
  padding: 0 0 20px 0;
  text-align: center;
}
footer ul {
  /* remove list markers and indentation */
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: auto;
  text-align: center;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
}
@media all and (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: nowrap;
    /* default is 'nowrap' */
    justify-content: space-around;
    /* default is 'flex-start' */
    align-items: center;
  }
}
footer ul i {
  font-size: 1.2rem;
  padding: 10px;
  /* CHANGE TO TRANSITION */
}
footer ul i:hover {
  transform: scale(1.5);
  color: #2c9c97;
}

/* pages */
main {
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  color: #43444b;
  padding: 0 20px 0 20px;
}
@media all and (min-width: 768px) {
  main {
    padding: 0 30px 0 30px;
  }
}

#products {
  margin: auto;
  text-align: center;
}

#items {
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
  margin: auto;
  padding: 0 0 20px 0;
}
@media all and (min-width: 768px) {
  #items {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: wrap;
    /* default is 'nowrap' */
    justify-content: space-between;
    /* default is 'flex-start' */
    align-items: flex-start;
  }
}

.item {
  /* links take color from map $color-txt, 
  default is main but can be changed */
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-between;
  /* default is 'flex-start' */
  align-items: center;
  border-top: solid 1px #2c9c97;
  margin: 0 0 20px 0;
  max-width: 1000px;
}
.item a {
  text-decoration: none;
  color: #43444b;
}
.item a:visited, .item a[href^=mailto] {
  color: #43444b;
}
@media all and (min-width: 768px) {
  .item {
    width: 47%;
  }
}
.item__name {
  padding: 20px;
}
.item__image {
  width: 100%;
}
.item__image img {
  /* default is square */
  width: 100%;
  height: auto;
}
.item__btn {
  font-size: 0.8rem;
  display: block;
  /* default is square */
  width: 50%;
  height: auto;
  padding: 2px;
  margin: 5px 0 0 0;
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  color: #43444b;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  border: solid 1px #43444b;
}
.item__btn:hover {
  border: solid 2px #a26b00;
  padding: 1px;
}
.item__btn:hover a {
  color: #a26b00;
  font-family: "montserratbold", "arial", "sans-serif";
}

#model {
  margin: auto;
  text-align: center;
}

#cart {
  margin: auto;
  text-align: center;
}

#confirm {
  margin: auto;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
