/* helpers */
/* color palette */
/* color variables */
/* not used yet */
/* not used yet */
/* color maps */
/* background */
/* text */
/* fonts */
/* font family variables */
/* montserrat */
/* lato */
/* font family map */
/* font size map */
/* breaking points */
/* style */
/* links */
/* lists */
/* font family and size */
/* background and text colors */
/* container size */
/* layout */
/* base */
/* general display */
* {
  /* reset margin and padding */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* define minimum/maximum width */
  min-width: 375px;
  max-width: 1920px;
  margin: auto;
}

i {
  display: inline-block;
}

/* dark grey background */
#bg {
  /* ex: @include color-bg-txt (header) */
  background-color: #43444b;
  color: #43444b;
}

/* margin on content div so we see background on the sides */
#content {
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  margin: auto;
}
@media all and (min-width: 768px) {
  #content {
    width: 80%;
  }
}

/* font less bold in Firefox */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}
/* define fonts */
/* Montserrat */
@font-face {
  font-family: "montserratregular";
  src: url("../../fonts/montserrat/montserrat-regular-webfont.eot");
  src: url("../../fonts/montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../../fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../../fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype"), url("../../fonts/montserrat/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratbold";
  src: url("../../fonts/montserrat/montserrat-bold-webfont.eot");
  src: url("../../fonts/montserrat/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../../fonts/montserrat/montserrat-bold-webfont.woff") format("woff"), url("../../fonts/montserrat/montserrat-bold-webfont.ttf") format("truetype"), url("../../fonts/montserrat/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratlight";
  src: url("../../fonts/montserrat/montserrat-light-webfont.eot");
  src: url("../../fonts/montserrat/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("../../fonts/montserrat/montserrat-light-webfont.woff") format("woff"), url("../../fonts/montserrat/montserrat-light-webfont.ttf") format("truetype"), url("../../fonts/montserrat/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Lato */
@font-face {
  font-family: "latoregular";
  src: url("../../fonts/lato/lato-regular-webfont.eot");
  src: url("../../fonts/lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-regular-webfont.woff") format("woff"), url("../../fonts/lato/lato-regular-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latobold";
  src: url("../../fonts/lato/lato-bold-webfont.eot");
  src: url("../../fonts/lato/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-bold-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-bold-webfont.woff") format("woff"), url("../../fonts/lato/lato-bold-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latolight";
  src: url("../../fonts/lato/lato-light-webfont.eot");
  src: url("../../fonts/lato/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-light-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-light-webfont.woff") format("woff"), url("../../fonts/lato/lato-light-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoitalic";
  src: url("../../fonts/lato/lato-italic-webfont.eot");
  src: url("../../fonts/lato/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-italic-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-italic-webfont.woff") format("woff"), url("../../fonts/lato/lato-italic-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latobold_italic";
  src: url("../../fonts/lato/lato-bolditalic-webfont.eot");
  src: url("../../fonts/lato/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-bolditalic-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-bolditalic-webfont.woff") format("woff"), url("../../fonts/lato/lato-bolditalic-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latolight_italic";
  src: url("../../fonts/lato/lato-lightitalic-webfont.eot");
  src: url("../../fonts/lato/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/lato/lato-lightitalic-webfont.woff") format("woff"), url("../../fonts/lato/lato-lightitalic-webfont.ttf") format("truetype"), url("../../fonts/lato/lato-lightitalic-webfont.svg#latolight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*  typography */
/* h1, h2, h3 */
h1 {
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 2.5rem;
}

h2 {
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 20px 30px 20px;
}

.divider {
  /* default is square */
  width: 120px;
  height: 60px;
  margin: -25px 0;
  text-align: center;
}
.divider path {
  fill: #a26b00;
}

h3 {
  /* ex: @include font-family-size (h1) */
  font-family: "latoitalic", "arial", "sans-serif";
  font-size: 1.2rem;
  padding: 30px 20px 40px 20px;
  text-align: center;
}

h4 {
  /* ex: @include font-family-size (h1) */
  font-family: "latobold", "arial", "sans-serif";
  font-size: 1.2rem;
}

/* components */
.error {
  /* default is square */
  width: auto;
  height: auto;
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  color: #bf0080;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratbold", "arial", "sans-serif";
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  margin: auto;
  padding: 5px 10px 5px 10px;
  border: solid 3px #bf0080;
}

/* layouts */
header {
  /* ex: @include color-bg-txt (header) */
  background-color: #43444b;
  color: #ffffff;
  /* links take color from map $color-txt, 
  default is main but can be changed */
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 40px 0 0 0;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
header a:visited, header a[href^=mailto] {
  color: #ffffff;
}

#header-nav {
  /* ex: @include color-bg-txt (header) */
  background-color: #c8fff3;
  color: #43444b;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 1rem;
  /* links take color from map $color-txt, 
  default is main but can be changed */
  /* default is square */
  width: 100%;
  height: auto;
}
#header-nav a {
  text-decoration: none;
  color: #43444b;
}
#header-nav a:visited, #header-nav a[href^=mailto] {
  color: #43444b;
}
#header-nav ul {
  /* remove list markers and indentation */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
}
@media all and (min-width: 768px) {
  #header-nav ul {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: nowrap;
    /* default is 'nowrap' */
    justify-content: flex-start;
    /* default is 'flex-start' */
    align-items: center;
  }
}
#header-nav a {
  /* default is square */
  width: 100%;
  height: auto;
}
@media all and (min-width: 768px) {
  #header-nav a {
    /* default is square */
    width: 150px;
    height: auto;
  }
}
#header-nav li {
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
  text-align: center;
}
#header-nav li:hover {
  background-color: #ffffff;
  color: #2c9c97;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
#header-nav li:hover a {
  color: #2c9c97;
}
#header-nav .active {
  background-color: #ffffff;
}

#header-title {
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
}
#header-title h1 {
  /* default is square */
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px 15px 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 3px #ffffff;
}
#header-title h1:hover {
  border: solid 5px #ffffff;
  padding: 18px 18px 13px 18px;
}
#header-title p {
  /* default is square */
  width: 100%;
  height: auto;
  /* ex: @include font-family-size (h1) */
  font-family: "latolight", "arial", "sans-serif";
  font-size: 1rem;
  margin: auto;
  padding: 25px 0 40px 0;
}

footer {
  /* links take color from map $color-txt, 
  default is main but can be changed */
  /* ex: @include color-bg-txt (header) */
  background-color: #c8fff3;
  color: #43444b;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 20px 20px 20px 20px;
}
footer a {
  text-decoration: none;
  color: #43444b;
}
footer a:visited, footer a[href^=mailto] {
  color: #43444b;
}
footer p:first-child {
  /* ex: @include font-family-size (h1) */
  font-family: "latobold", "arial", "sans-serif";
  font-size: 1.1rem;
  padding: 10px 0 5px 0;
  text-align: center;
}
footer p:nth-child(2) {
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 0.95rem;
  padding: 0 0 20px 0;
  text-align: center;
}
footer ul {
  /* remove list markers and indentation */
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: auto;
  text-align: center;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
}
@media all and (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: nowrap;
    /* default is 'nowrap' */
    justify-content: space-around;
    /* default is 'flex-start' */
    align-items: center;
  }
}
footer ul i {
  font-size: 1.2rem;
  padding: 10px;
  /* CHANGE TO TRANSITION */
}
footer ul i:hover {
  transform: scale(1.5);
  color: #2c9c97;
}

/* pages */
main {
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  color: #43444b;
  /* links take color from map $color-txt, 
  default is main but can be changed */
  padding: 0 20px 0 20px;
}
main a {
  text-decoration: none;
  color: #43444b;
}
main a:visited, main a[href^=mailto] {
  color: #43444b;
}
@media all and (min-width: 768px) {
  main {
    padding: 0 30px 0 30px;
  }
}

#products-list {
  margin: auto;
  text-align: center;
}

#items {
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
  margin: auto;
  padding: 0 0 20px 0;
}
@media all and (min-width: 768px) {
  #items {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: wrap;
    /* default is 'nowrap' */
    justify-content: space-between;
    /* default is 'flex-start' */
    align-items: flex-start;
  }
}

.item {
  /* links take color from map $color-txt, 
  default is main but can be changed */
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-between;
  /* default is 'flex-start' */
  align-items: center;
  border-top: solid 1px #2c9c97;
  margin: 0 0 20px 0;
  max-width: 1000px;
}
.item a {
  text-decoration: none;
}
@media all and (min-width: 768px) {
  .item {
    width: 47%;
  }
}
.item__name {
  padding: 20px;
}
.item__image {
  width: 100%;
}
.item__image img {
  /* default is square */
  width: 100%;
  height: auto;
}
.item__btn {
  display: block;
  /* default is square */
  width: 200px;
  height: 25px;
  padding: 1px;
  margin: 5px 0 0 0;
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  color: #43444b;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  text-transform: uppercase;
  border: solid 1px #43444b;
}
.item__btn:hover {
  border: solid 2px #a26b00;
  padding: 0;
  color: #a26b00;
  font-family: "montserratbold", "arial", "sans-serif";
}

main {
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  color: #43444b;
  padding: 0 20px 0 20px;
}
@media all and (min-width: 768px) {
  main {
    padding: 0 30px 0 30px;
  }
}

#product {
  margin: auto;
  text-align: center;
}

#model {
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-between;
  /* default is 'flex-start' */
  align-items: center;
  border-top: solid 1px #2c9c97;
  border-bottom: solid 1px #2c9c97;
  max-width: 1000px;
}
.info__name {
  padding: 20px;
}
.info__image {
  width: 100%;
}
.info__image img {
  /* default is square */
  width: 100%;
  height: auto;
}
.info__description {
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 1rem;
  /* default is square */
  width: 87%;
  height: auto;
  padding: 20px 0 10px 0;
}
.info__price {
  /* ex: @include font-family-size (h1) */
  font-family: "latobold", "arial", "sans-serif";
  font-size: 1.2rem;
  /* default is square */
  width: 87%;
  height: auto;
  padding: 0 0 20px 0;
}

.form {
  /* links take color from map $color-txt, 
  default is main but can be changed */
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-between;
  /* default is 'flex-start' */
  align-items: left;
  /* default is square */
  width: 87%;
  height: auto;
  max-width: 870px;
}
.form a {
  text-decoration: none;
}
.form label {
  /* ex: @include font-family-size (h1) */
  font-family: "montserratbold", "arial", "sans-serif";
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
.form div {
  width: 100%;
  text-align: left;
  margin: auto;
}
.form__lenses {
  padding: 30px 0 15px 0;
}
.form select {
  /* default is square */
  width: 100%;
  height: 30px;
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 1rem;
  border: solid 1px #43444b;
  margin: 5px 0 0 0;
}
.form input {
  /* default is square */
  width: 100%;
  height: 30px;
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 1rem;
  border: solid 1px #43444b;
  text-align: center;
  margin: 5px 0 0 0;
}
.form__btn {
  padding: 50px 0 50px 0;
}
.form__btn p {
  display: block;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  /* ex: @include color-bg-txt (header) */
  background-color: #43444b;
  color: #ffffff;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 1rem;
  /* default is square */
  width: 268px;
  height: auto;
  padding: 15px;
  margin: auto;
  text-transform: uppercase;
  border: none;
}
.form__btn p:hover {
  background-color: #a26b00;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

#cart {
  margin: auto;
  text-align: center;
  max-width: 1000px;
}
#cart h3 {
  border-bottom: solid 1px #2c9c97;
}

#table {
  margin: auto;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 30px 0 0 0;
}
@media all and (min-width: 576px) {
  #table {
    /* default is square */
    width: 87%;
    height: auto;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border: solid 2px #43444b;
  border-spacing: 0;
  text-align: center;
}
table th {
  border: 1px solid #43444b;
  /* default is square */
  width: auto;
  height: 30px;
}
@media all and (min-width: 576px) {
  table th {
    /* default is square */
    width: 20%;
    height: 30px;
  }
}
table td {
  border: 1px solid #43444b;
  /* default is square */
  width: auto;
  height: 30px;
}
@media all and (min-width: 576px) {
  table td {
    /* default is square */
    width: 20%;
    height: 30px;
  }
}
table thead {
  /* ex: @include font-family-size (h1) */
  font-family: "montserratbold", "arial", "sans-serif";
  font-size: 0.8rem;
  text-transform: uppercase;
}
@media all and (min-width: 576px) {
  table thead {
    font-size: 1rem;
  }
}
table tbody {
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 0.8rem;
}
@media all and (min-width: 576px) {
  table tbody {
    font-size: 1rem;
  }
}
table tfoot {
  /* ex: @include font-family-size (h1) */
  font-family: "latobold", "arial", "sans-serif";
  font-size: 0.9rem;
  background-color: #c8fff3;
}
@media all and (min-width: 576px) {
  table tfoot {
    font-size: 1rem;
  }
}

.align-right {
  text-align: right;
  padding: 0 3px 0 0;
}
@media all and (min-width: 576px) {
  .align-right {
    padding: 0 10px 0 10px;
  }
}

.align-left {
  text-align: left;
  padding: 0 3px 0 3px;
}
@media all and (min-width: 576px) {
  .align-left {
    padding: 0 10px 0 10px;
  }
}

.padding {
  padding: 0 3px 0 3px;
}

.extra-padding {
  padding: 0 7px 0 7px;
}

.cart__btn {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  margin: auto;
}
.cart__btn p {
  /* default is square */
  width: 268px;
  height: auto;
  padding: 15px;
  margin: auto;
  text-transform: uppercase;
  border: none;
}
.cart__btn--continue {
  padding: 30px 0 10px 0;
}
.cart__btn--continue p {
  /* ex: @include color-bg-txt (header) */
  background-color: #43444b;
  color: #ffffff;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 1rem;
  border: solid 2px #43444b;
}
.cart__btn--continue p:hover {
  cursor: pointer;
  background-color: #a26b00;
  border: solid 2px #a26b00;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.cart__btn--empty {
  padding: 10px 0 30px 0;
}
.cart__btn--empty p {
  /* ex: @include color-bg-txt (header) */
  background-color: #ffffff;
  color: #43444b;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 1rem;
  border: solid 2px #43444b;
}
.cart__btn--empty p:hover {
  cursor: pointer;
  color: #a26b00;
  border: solid 2px #a26b00;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.cart__btn--submit {
  padding: 20px 0 50px 0;
}
.cart__btn--submit p {
  /* ex: @include color-bg-txt (header) */
  background-color: #c8fff3;
  color: #43444b;
  /* ex: @include font-family-size (h1) */
  font-family: "montserratbold", "arial", "sans-serif";
  font-size: 1rem;
  border: solid 2px #c8fff3;
  text-align: center;
}
.cart__btn--submit p:hover {
  cursor: pointer;
  color: #2c9c97;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

#order {
  margin: auto;
  padding: 30px 0 0 0;
  border-top: solid 1px #2c9c97;
  text-align: center;
  max-width: 1000px;
}
#order .order-p1 {
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 1.2rem;
}
#order .order-p2 {
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 1rem;
}
#order label {
  /* ex: @include font-family-size (h1) */
  font-family: "latobold", "arial", "sans-serif";
  font-size: 1rem;
}

#order-form {
  margin: auto;
  /* default is square */
  width: 87%;
  height: auto;
  text-align: left;
}
#order-form form {
  /* default is square */
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
}
#order-form input {
  /* default is square */
  width: 100%;
  height: 30px;
  margin: 3px 0 10px 0;
  padding: 0 5px 0 5px;
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 1rem;
}
#order-form textarea {
  /* default is square */
  width: 100%;
  height: 90px;
  margin: 3px 0 10px 0;
  padding: 0 5px 0 5px;
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 1rem;
}

#confirm {
  margin: auto;
  text-align: center;
  max-width: 1000px;
}
#confirm h3 {
  border-bottom: solid 1px #2c9c97;
}
#confirm h4 {
  padding: 40px 0 40px 0;
}

#summary {
  border: solid 2px #a26b00;
  /* default is square */
  width: 87%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 50px;
  text-align: left;
}
@media all and (min-width: 576px) {
  #summary {
    /* default is square */
    width: 500px;
    height: auto;
  }
}
#summary p:first-child {
  /* ex: @include font-family-size (h1) */
  font-family: "montserratregular", "arial", "sans-serif";
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 10px 20px 10px;
  text-align: center;
}
#summary .summary-label {
  /* ex: @include font-family-size (h1) */
  font-family: "latobold", "arial", "sans-serif";
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 10px 5px 10px;
}
#summary .summary-data {
  /* ex: @include font-family-size (h1) */
  font-family: "latoregular", "arial", "sans-serif";
  font-size: 1rem;
  padding: 0 10px 10px 10px;
}

/*# sourceMappingURL=style.css.map */
