#cart {
    max-width: 1000px;
    margin: auto;
    text-align: center;

    h3 {
        border-bottom: solid 1px $color-primary-dark;
    }

    .order-p1 {
        @include font-family-size(order-p1);
        padding: 30px 0 0 0;
        border-top: solid 1px $color-primary-dark;
    }

    .order-p2 {
        @include font-family-size(order-p2);
    }

    label {
        @include font-family-size(order-label);
    }
}

#table {
    @include size(100%, auto);
    margin: auto;
    padding: 30px 0 0 0;

    @include sm {
        @include size(87%, auto);
    }

    .error {
        margin: auto;
        margin-top: 30px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid 2px $color-basic-dark;
    border-spacing: 0;
    text-align: center;

    th {
        @include size(auto, 30px);
        border: 1px solid $color-basic-dark;

        @include sm {
            @include size(20%, 30px);
        }
    }

    td {
        border: 1px solid $color-basic-dark;
    }

    tr {
        border: 1px solid $color-basic-dark;
    }

    thead {
        @include font-family-size(thead);
        text-transform: uppercase;

        @include sm {
            font-size: 1rem;
        }
    }

    tbody {
        @include font-family-size(tbody);

        @include sm {
            font-size: 1rem;
        }
    }

    tfoot {
        @include font-family-size(tfoot);
        background-color: $color-primary-light;

        @include sm {
            font-size: 1rem;
        }
    }
}

.align-right {
    padding: 0 3px 0 0;
    text-align: right;

    @include sm {
        padding: 0 10px 0 10px;
    }
}

.align-left {
    padding: 0 3px 0 3px;
    text-align: left;

    @include sm {
        padding: 0 10px 0 10px;
    }
}

.padding {
    padding: 0 3px 0 3px;
}

.extra-padding {
    padding: 0 7px 0 7px;
}

.td-quantity {
    @include flexbox(row, nowrap, center, center);
    border: none;
}

.cart__btn {
    @include flexbox(row, nowrap, center, center);
    margin: auto;

    input {
        @include size(268px, auto);
        padding: 15px;
        margin: auto;
        border: none;
        text-transform: uppercase;
        transition: all 200ms ease-in-out;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px; 
        }
    }

    &--continue {
        padding: 30px 0 10px 0;

        input {
            @include font-family-size(btn-continue);
            @include color-bg-txt(btn-continue);
            border: solid 2px $color-basic-dark;

            &:hover {
                background-color: $color-secondary;
                border: solid 2px $color-secondary;
            }
        }
    }

    &--empty {
        padding: 10px 0 30px 0;

        input {
            @include font-family-size(btn-empty);
            @include color-bg-txt(btn-empty);
            border: solid 2px $color-basic-dark;

            &:hover {
                color: $color-secondary;
                border: solid 2px $color-secondary;
            }
        }
    }

    &--submit {
        margin: auto;
        padding: 20px 0 50px 0;
        border: none;
        text-transform: uppercase;

        #submit {
            display: block;
            @include font-family-size(btn-submit);
            @include color-bg-txt(btn-submit);
            @include size(268px, auto);
            padding: 15px;
            border: solid 2px $color-primary-light;

            &:hover {
                color: $color-primary-dark;
            }
        }
    }
}


#order-form {
    @include size(87%, auto);
    margin: auto;
    text-align: left;

    form {
        @include size(100%, auto);
        padding: 20px 0 20px 0;
    }

    input {
        @include font-family-size(order-input);  
        @include size(100%, 30px);
        margin: 3px 0 10px 0;
        padding: 0 5px 0 5px;
    }

    textarea {
        @include font-family-size(order-input);  
        @include size(100%, 90px);
        margin: 3px 0 10px 0;
        padding: 0 5px 0 5px;
    }
}
