#confirm{
    margin: auto;
    text-align: center;
    max-width: 1000px;

    h3{
        border-bottom: solid 1px $color-primary-dark;
    }

    h4{
        padding: 40px 0 40px 0;
    }
}

#summary{
    border: solid 2px $color-secondary;
    @include size(87%, auto);

    @include sm{
        @include size(500px, auto);
    }

    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    text-align: left;

    p:first-child{
        @include font-family-size(summary);
        text-transform: uppercase;
        padding: 10px 10px 20px 10px;
        text-align: center;
    }

    .summary-label{
        @include font-family-size(summary-label);
        text-transform: uppercase;
        padding: 10px 10px 5px 10px;
    }

    .summary-data{
        @include font-family-size(summary-data);
        padding: 0 10px 10px 10px;
    }
}






