#products-list {
    margin: auto;
    text-align: center;
}

#items {
    @include flexbox(column, nowrap, space-around, center);
    margin: auto;
    padding: 0 0 20px 0;

    @include md {
        @include flexbox(row, wrap, space-between, flex-start);
    }
}

.item {
    @include links-style(map-get($color-txt, btn));
    @include flexbox(column, nowrap, space-between, center);
    max-width: 1000px;
    margin: 0 0 20px 0;
    border-top: solid 1px $color-primary-dark;

    @include md {
        width: 47%;
    }

    &__name {
        padding: 20px;
    }

    &__image {
        width: 100%;

        img {
            @include size(100%, auto);
        }
    }

    &__btn {
        margin: 5px 0 0 0;

        input {
            @include font-family-size(btn-seemodel);
            @include color-bg-txt(btn-seemodel);
            @include flexbox(row, nowrap, center, center);
            @include size(200px, 25px);
            padding: 1px;
            border: solid 1px $color-basic-dark;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 200ms ease-in-out;

            &:hover {
                color: $color-secondary;
                padding: 0;
                border: solid 2px $color-secondary;
            }
        }
    }
}
