#product{
    margin: auto;
    text-align: center;
}

#model{
    @include flexbox(column, nowrap, space-around, center);
    margin: auto;
}

.info{
    @include flexbox(column, nowrap, space-between, center);
    max-width: 1000px;
    border-top: solid 1px $color-primary-dark;
    border-bottom: solid 1px $color-primary-dark;

    &__name{
        padding: 20px;
    }

    &__image{
        width: 100%;

        img{
            @include size(100%, auto);    
        }
    }

    &__description{
        @include font-family-size(product-description);
        @include size(87%, auto);
        padding: 20px 0 10px 0;
    }    

    &__price{
        @include font-family-size(product-price);
        @include size(87%, auto);
        padding: 0 0 20px 0;
    }
}

.form{
    @include links-style(map-get($color-txt, btn));
    @include flexbox(column, nowrap, space-between, flex-start);
    @include size(87%, auto);
    max-width: 870px;

    label{
        @include font-family-size(form-label);
        width: 100%;
        text-transform: uppercase;
        text-align: left;
    }

    div{
        width: 100%;
        margin: auto;
        text-align: left;
    }

    &__lenses{
        padding: 30px 0 15px 0;
    }

    select{
        @include font-family-size(form-choice);
        @include size(100%, 30px);
        margin: 5px 0 0 0;       
        border: solid 1px $color-basic-dark; 
    }

    input{
        @include font-family-size(form-choice);
        @include size(100%, 30px);
        margin: 5px 0 0 0;       
        border: solid 1px $color-basic-dark;
        text-align: center;
    }

    &__btn{
        padding: 50px 0 50px 0;

        input{
            display: block;
            @include font-family-size(btn-addtocart);
            @include color-bg-txt(btn-addtocart);
            @include flexbox(row, nowrap, center, center);
            @include size(268px, auto);
            margin: auto;
            padding: 15px;
            border: none;
            text-transform: uppercase;
            transition: all 200ms ease-in-out;

            &:hover{
                background-color: $color-secondary;
                cursor: pointer;
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 5px;   
            }
        }
    }
}
