/* general display */
*{ /* reset margin and padding */
    box-sizing:border-box; 
    margin: 0;
    padding: 0;
}

body{ /* define minimum/maximum width */
    min-width: 375px;
    max-width: 1920px;
    margin: auto;

    .container-fluid{
        padding: 0; /* remove Bootstrap padding */
    }   
}

div .col{
    padding: 0;
    width: 100%;
}

i{
    display: inline-block;
}

/* links style */
main{
    @include links-style; /* color by default is color for main txt so no need to specify here */
}


/* dark grey background */
#bg{
    @include color-bg-txt(bg); 
}

/* margin on content div so we see background on the sides */
#content{
    @include color-bg-txt(content);
    margin: auto;
    
    @include md{
        margin: 0 50px;
    }

    @include lg{
        margin: 0 100px;
    }

    @include xl{
        margin: 0 150px;
    }
}
