/* general display */
*{ /* reset margin and padding */
    box-sizing:border-box; 
    margin: 0;
    padding: 0;
}

body{ /* define minimum/maximum width */
    min-width: 375px;
    max-width: 1920px;
    margin: auto; 
}

i{
    display: inline-block;
}

/* dark grey background */
#bg{
    @include color-bg-txt(bg); 
}

/* margin on content div so we see background on the sides */
#content{
    @include color-bg-txt(content);
    margin: auto;
    
    @include md{
        width: 80%;
    }
}
