/* define fonts */
/* Montserrat */
@font-face {
    font-family: 'montserratregular';
    src: url('../../fonts/montserrat/montserrat-regular-webfont.eot');
    src: url('../../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('../../fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../../fonts/montserrat/montserrat-bold-webfont.eot');
    src: url('../../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('../../fonts/montserrat/montserrat-bold-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../../fonts/montserrat/montserrat-light-webfont.eot');
    src: url('../../fonts/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-light-webfont.woff') format('woff'),
         url('../../fonts/montserrat/montserrat-light-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Lato */
@font-face {
    font-family: 'latoregular';
    src: url('../../fonts/lato/lato-regular-webfont.eot');
    src: url('../../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('../../fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('../../fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('../../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../../fonts/lato/lato-bold-webfont.eot');
    src: url('../../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('../../fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('../../fonts/lato/lato-bold-webfont.ttf') format('truetype'),
         url('../../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../../fonts/lato/lato-light-webfont.eot');
    src: url('../../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('../../fonts/lato/lato-light-webfont.woff') format('woff'),
         url('../../fonts/lato/lato-light-webfont.ttf') format('truetype'),
         url('../../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('../../fonts/lato/lato-italic-webfont.eot');
    src: url('../../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('../../fonts/lato/lato-italic-webfont.woff') format('woff'),
         url('../../fonts/lato/lato-italic-webfont.ttf') format('truetype'),
         url('../../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold_italic';
    src: url('../../fonts/lato/lato-bolditalic-webfont.eot');
    src: url('../../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/lato/lato-bolditalic-webfont.woff') format('woff'),
         url('../../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'),
         url('../../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight_italic';
    src: url('../../fonts/lato/lato-lightitalic-webfont.eot');
    src: url('../../fonts/lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/lato/lato-lightitalic-webfont.woff') format('woff'),
         url('../../fonts/lato/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../../fonts/lato/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*  typography */

/* h1, h2, h3 */

h1{
    @include font-family-size(h1);
}

h2{
    @include font-family-size(h2);
    text-transform: uppercase;
    text-align: center;
    padding: 40px 20px 30px 20px;
}

.divider{
    @include size(120px, 60px);
    margin: -25px 0;
    text-align: center;

    path{
        fill: map-get($map: $color-txt, $key: divider);
    }

}

h3{
    @include font-family-size(h3);
    padding: 30px 20px 40px 20px;
    text-align: center;
}

h4{
    @include font-family-size(h4);
}





