header{
    @include color-bg-txt(header-title);
    @include links-style(map-get($color-txt, header-title));
    @include flexbox(column, nowrap, space-around, center);
    @include size(100%, auto);
    padding: 40px 0 0 0;
}

#header-nav{
    @include color-bg-txt(header-nav);
    @include font-familiy-size(header-nav);
    @include links-style(map-get($color-txt, header-nav));
    @include size (100%, auto);
    
    ul{
        @include list-style;
        @include flexbox(row, nowrap, space-around, center);

        @include md{
            @include flexbox(row, nowrap, flex-start, center);
        }
    }

    li{
        @include size(100%, auto);
        padding: 10px 30px 10px 30px;
        text-transform: uppercase;
        text-align: center;

        @include md{
            @include size(150px, auto)
        }

        &:hover{
            background-color: $color-basic-light;
            color: $color-primary-dark;
            text-decoration: underline;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px;
            a{
                color: $color-primary-dark;
            } 
        }        
    }

    .active{
        background-color: $color-basic-light;
    }

}

#header-title{
    @include flexbox(column, nowrap, space-around, center);

    h1{
        @include size(100%, auto);
        margin: auto;
        padding: 20px 20px 15px 20px;
        text-transform: uppercase; 
        color: $color-basic-light;
        border: solid 3px $color-basic-light;

        &:hover{
            border: solid 5px $color-basic-light;
            padding: 18px 18px 13px 18px;
        }
    }

    p{
        @include size(100%, auto);
        @include font-familiy-size(header-p);
        margin: auto;
        padding: 25px 0 40px 0;
    }
}




