/* color palette */
/* color variables */
$color-basic-light: #ffffff;
$color-basic-medium: #c7cad0; /* not used yet */
$color-basic-dark: #43444b;
$color-primary-light: #c8fff3;
$color-primary-dark: #2c9c97;
$color-secondary: #a26b00;
$color-tertiary: #bf0080;/* not used yet */

/* color maps */
/* background */
$color-bg: (
    bg: $color-basic-dark,
    content: $color-basic-light,
    header-title: $color-basic-dark,
    header-nav: $color-primary-light,
    main: $color-basic-light,
    footer: $color-primary-light,
    btn-seemodel: $color-basic-light,
    error: $color-basic-light,
    btn-addtocart: $color-basic-dark,
    btn-continue: $color-basic-dark,
    btn-empty: $color-basic-light,
    btn-submit: $color-primary-light,
);

/* text */
$color-txt:(
    bg: $color-basic-dark,
    header-title: $color-basic-light,
    header-nav: $color-basic-dark,
    main: $color-basic-dark,
    footer: $color-basic-dark,
    btn-seemodel: $color-basic-dark,
    divider: $color-secondary,
    error: $color-tertiary,
    btn-addtocart: $color-basic-light,
    btn-continue: $color-basic-light,
    btn-empty: $color-basic-dark,
    btn-submit: $color-basic-dark,
);


/* fonts */
/* font family variables */
/* montserrat */
$montserratregular: ('montserratregular', 'arial', 'sans-serif');
$montserratbold: ('montserratbold', 'arial', 'sans-serif');
$montserratlight: ('montserratlight', 'arial', 'sans-serif');

/* lato */
$latoregular: ('latoregular', 'arial', 'sans-serif');
$latobold: ('latobold', 'arial', 'sans-serif');
$latolight: ('latolight', 'arial', 'sans-serif');
$latoitalic: ('latoitalic', 'arial', 'sans-serif');
$latobold_italic: ('latobold_italic', 'arial', 'sans-serif');
$latolight_italic: ('latolight_italic', 'arial', 'sans-serif');


/* font family map */
$font-family:(
    h1: $montserratregular,
    h2: $montserratregular,
    h3: $latoitalic,
    h4: $latobold,
    header-p: $latolight,
    header-nav: $montserratregular,
    footer-p1:$latobold,
    footer-p2:$latoregular,
    btn-seemodel: $montserratregular,
    error:$montserratbold,
    product-description:$latoregular,
    product-price: $latobold,
    form-label: $montserratbold,
    form-choice: $latoregular,
    btn-addtocart: $montserratregular,
    thead: $montserratbold,
    tbody: $latoregular,
    tfoot: $latobold,
    btn-continue: $montserratregular,
    btn-empty: $montserratregular,
    btn-submit: $montserratbold,
    order-p1: $latoregular,
    order-p2: $latoregular,
    order-label: $latobold,
    order-input: $latoregular,
);

/* font size map */
$font-size:(
    h1: 2.5rem,    
    h2: 1.5rem,
    h3: 1.2rem,
    h4: 1.2rem,
    header-p: 1rem,
    header-nav: 1rem,
    footer-p1:1.1rem,
    footer-p2:0.95rem,
    btn-seemodel: 0.8rem,
    error: 1rem,
    product-description: 1rem,
    product-price: 1.2rem,
    form-label: 0.9rem,
    form-choice: 1rem,
    btn-addtocart: 1rem,
    thead: 0.8rem,
    tbody: 0.8rem,
    tfoot: 1rem,
    btn-continue: 1rem,
    btn-empty: 1rem,
    btn-submit: 1rem,
    order-p1: 1.2rem,
    order-p2: 1rem,
    order-label: 1rem,
    order-input: 1rem,

);


